services:
  web:
    build: conf/nginx
    restart: always
    ports:
      - 80:80
    volumes:
      - ./conf/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ..:/var/www/html
    depends_on:
      - php
  db:
    build: conf/mysql
    restart: always
    environment:
      - MYSQL_DATABASE=${MYSQL_DB_NAME}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
    expose:
      - 3306
    volumes:
      - ./conf/mysql/db-data:/var/lib/mysql
  php:
    build: conf/php
    restart: always
    expose:
      - 9000
    volumes:
      - ./conf/php/php.ini:/usr/local/etc/php/conf.d/php.ini
      - ..:/var/www/html
    tmpfs:
      - /tmp
    depends_on:
      - db

  adminer:
    build: conf/adminer
    environment:
      - ADMINER_DEFAULT_SERVER=${MYSQL_HOSTNAME}
      - ADMINER_DEFAULT_USER=${MYSQL_USER}
      - ADMINER_DEFAULT_PASSWORD=${MYSQL_PASSWORD}
    restart: always
    ports:
      - 8080:8080
    volumes:
      - /sessions
    depends_on:
      - db