services:
  web:
    build: conf/nginx
    restart: always
    ports:
      - 80:80
    volumes:
      - ./conf/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ..:/var/www/html
    depends_on:
      - php
  db:
    build: conf/postgres
    restart: always
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
    expose:
      - 5432
    volumes:
      - ./conf/postgres/:/docker-entrypoint-initdb.d
      - ./conf/postgres/db-data:/var/lib/postgresql/data
  php:
    build: conf/php
    restart: always
    expose:
      - 9000
    volumes:
      - ./conf/php/php.ini:/usr/local/etc/php/conf.d/php.ini
      - ..:/var/www/html
    tmpfs:
      - /tmp
    depends_on:
      - db

  adminer:
    build: conf/adminer
    environment:
      - ADMINER_DEFAULT_SERVER=${DATABASE_HOST}
      - ADMINER_DEFAULT_USER=${DATABASE_USER}
      - ADMINER_DEFAULT_PASSWORD=${DATABASE_PASSWORD}
    restart: always
    ports:
      - 8080:8080
    volumes:
      - /sessions
    depends_on:
      - db